<!DOCTYPE html>
<html>
    <head>
        <title>Janinas</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dignissimos laborum quis dolor molestias nobis commodi, earum blanditiis impedit ipsum necessitatibus debitis, aspernatur iure facere. Voluptate doloribus id nemo expedita?</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed voluptates voluptate fuga consequuntur hic omnis, porro, expedita sunt culpa pariatur quasi, corrupti id! Magnam impedit labore ullam possimus debitis voluptatem nam quod quam, odio laboriosam ratione saepe cumque sunt earum quibusdam laudantium perspiciatis eum iste? Est deleniti aliquid suscipit voluptatum.
            </p>
        </article>
    </body>
</html>