h1 a, h2 a {
    color: #f0446f;
    font-family: 'Pacifico', cursive;
}
body {
    padding-left: 15px;
}
.header {
    background-color: #2ff5f5;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 60px 60px 60px 60px;
}
.header h1,
.header h1 a,
.header h1 a:visited,
.header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}
h1, h2, h3, h4 {   
     font-family: 'Pacifico', cursive;
}
.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-weight: bold;
    font-size: 36pt;
    margin-right: 20px;
}

.blog-post {
    margin-bottom: 70px;
}
.blog-post p{
    font-family: 'Lato', sans-serif;
}


.blog-post h2 a,
.blog-post h2 a:visited {
    color: #f0446f;
}

.blog-post > .date,
.blog-post > .actions {
    float: right;
}

.btn-default,
.btn-default:visited {
    color: #C25100;
    background: none;
    border-color: #C25100;
}

.btn-default:hover {
    color: #FFFFFF;
    background-color: #C25100;
}